/* Стилизация аккордеона */

.accordion__item {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px 32px;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item[open] {
    padding-bottom: 32px;
}

.accordion__summary {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__text {
    color: var(--grey-4);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}