.histogram {
    padding: 16px 24px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__info {
    display: flex;
    justify-content: space-between;
}

.histogram__order {
    display: flex;
    flex-direction: column;
}

.histogram__order-text {
    color: var(--black);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.histogram__order-count {
    color: var(--black);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-top: 6px;
}

.histogram__link {
    color: var(--primary, #4263EB);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.histogram__columns {
    display: flex;
    align-items: flex-end;
    margin-top: 39px;
    column-gap: 1px;
    height: 50px;
}

.histogram__column {
    background-color: var(--primary, #4263EB);
    flex-basis: 100%;
}

.histogram_column_s {
    height: 15%;
}

.histogram_column_m {
    height: 40%;
}

.histogram_column_l {
    height: 60%;
}

.histogram_column_xl {
    height: 100%;
}