@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --primary-color: #4263EB;
    --primary-color-hover: #2342C0;
    --secondary-color: #7048E8;
    --secondary-color-hover: #5028C6;
    --alternate-color-border-hover: #212429;
}

* {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.conteiner {
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #DDE2E5;
}

.header-title {
    color: var(--black, #212429);
    font-family: "Inter";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 128% */
}

.preview {
    background-color: aquamarine;
}

.page__main {
    flex-grow: 1;
}

.preview__cards {
    display: flex;
    gap: 30px;
}

.card {
    height: 350px;
    flex-basis: 100%;
    background-color: olivedrab;
}

.footer {
    background-color: burlywood;

}
.footer-title {
    color: var(--black, #212429);
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 126.316% */
}

.footer-text {
    color: var(--black, #212429);
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}