.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 375px;
    background-color: #F9FAFC;
    transform: translateX(-100vw);
    transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1.0);
    padding: 17px 16px;
}

.mobile-menu[data-open] {
    transform: translateX(0);
}

.mobile-menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu__button {
    position: relative;
    height: 24px;
    width: 24px;
    border-width: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--grey-2, #DDE2E5);
    transition: background-color 250ms linear;
}

.mobile-menu__button:hover,
.mobile-menu__button:active {
    background-color: var(--grey-3, #DDE2E5);
}

.mobile-menu__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-menu__logo {
    display: inline-flex;
    gap: 8px;
}

.mobile-menu__logo-square {
    height: 30px;
    width: 30px;
    background-color: var(--black);
}

.mobile-menu__logo-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--black);
}

.mobile-menu__logo-triangle {
    border: 15px solid transparent; 
    border-bottom: 15px solid var(--black); 
    border-left: 15px solid var(--black);
}

.mobile-menu__dark-mode {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 24px;
    margin-top: 33px;
    border-top: 1px solid var(--grey-2, #DDE2E5);
    border-bottom: 1px solid var(--grey-2, #DDE2E5);
    cursor: pointer;
}

.mobile-menu__nav {
    margin-top: 24px;
}

.mobile-menu__grey-text {
    color: var(--grey-4, #495057);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}


.mobile-menu__title {
    color: var(--grey-3, #ACB5BD);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    margin: 0;
}

.mobile-menu__list {
    margin-top: 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobile-menu__link {
    list-style: none;
    color: var(--black, #212429);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: color 250ms linear;
}

.mobile-menu__link:hover,
.mobile-menu__link:active {
    color: var(--notificaiton, #D84910);
}

.mobile-menu__link_margin {
    margin-top: 72px;
}